@page "/verify"
@inherits VerifyCredentialBase

<div class="row">
            @if(verificationRequest != null)
            {  
                <div class="row" style="margin-left:2rem; margin-right:1rem;">
                    <h3>Get Verified</h3>
                    <p>In order to provide you a COVID-19 test result credential, we'd like to verify the following things.</p>
                    <ul>
                        <li>
                            BC Personal Health Number (phn)
                        </li>
                        <li>
                            Essential Service (essential)
                        </li>
                    </ul>
                </div>
                <div class="row" style="margin-right: 300px; margin-left: 15px;">
                        <div class="col-sm-12">
                            <p>Please scan the following QR code with your digital wallet</p>
                        </div>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <div style=" margin-top: 2rem; margin-left: 2rem;">
                        <h3 style="width: 17rem; text-align:center">Scan this Code</h3>
                        <div class="qr-border">
                            <QrImage ImageData="@verificationRequest.VerificationRequestUrl"></QrImage>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-12" style="text-align: center;">
                    <lottie-player src="assets/lottie.json"  background="transparent"  speed="1"  style="width: 350px; height: 350px; margin-top: 1rem; margin-right: 2rem;"  loop  autoplay></lottie-player> 
                </div>

            }
            else if(FormReady)
            {
                <div class="col-xl-6 col-sm-12">
                    <h3>Test Results</h3>
                    <p>These are the results of your COVID-19 test. Please click the button below to confirm.</p>
                    <div class="row" style="margin-left:15px;">
                        <button type="sumbit" class="button-blue" @onclick="@(async () => await FormSubmit())"><a href="/verify" class="button-text">Confirm</a></button>
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <form>
                        <div class="row">
                            <label class="col-sm-12 label-box">Virus</label>
                            <input class="input-box" placeholder="Virus" @bind-value="@credentialModel.virus" readonly/>
                        </div>
                        <div class="row">
                            <label class="col-sm-12 label-box">Check Time</label>
                            <input class="input-box" placeholder="Check Time" @bind-value="@credentialModel.checktime" readonly/>
                        </div>     
                        <div class="row">
                            <label class="col-sm-12 label-box">Checked Location</label>
                            <input class="input-box" placeholder="Checked Location" @bind-value="@credentialModel.checkedlocation" readonly/>
                        </div>  
                        <div class="row">
                            <label class="col-sm-12 label-box">Checked By</label>
                            <input class="input-box" placeholder="Checked By" @bind-value="@credentialModel.checkedby" readonly/>
                        </div>  
                        <div class="row">
                            <label class="col-sm-12 label-box">Checked Facility</label>
                            <input class="input-box" placeholder="Checked Facility" @bind-value="@credentialModel.checkedfacility" readonly/>
                        </div>  
                        <div class="row">
                            <label class="col-sm-12 label-box">Diagnosis Method</label>
                            <input class="input-box" placeholder="Diagnosis Method" @bind-value="@credentialModel.diagnosismethod" readonly/>
                        </div>  
                        <div class="row">
                            <label class="col-sm-12 label-box">Issued</label>
                            <input class="input-box" placeholder="Issued" @bind-value="@credentialModel.issued" readonly/>
                        </div>  
                        <div class="row" style="padding-bottom: 20px;">
                            <label class="col-sm-12 label-box">Expiry</label>
                            <input class="input-box" placeholder="Expiry" @bind-value="@credentialModel.expiry" readonly/>
                        </div>  
                    </form>
                </div>
            }
            else if(credentialContract != null)
            {
                <div class="row" style="margin-left:2rem;">
                    <h3>Get Credential</h3>
                    <p>Please scan the following QR code with your digital wallet to get the results of the test as a verifiable credential in your wallet.</p>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <div style=" margin-top: 2rem; margin-left: 2rem;">
                        <h3 style="width: 17rem; text-align:center">Scan this code</h3>
                        <div class="qr-border">
                                <QrImage ImageData="@credentialContract.OfferUrl"></QrImage>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-12" style="text-align: center;">
                    <lottie-player src="assets/lottie.json"  background="transparent"  speed="1"  style="width: 350px; height: 350px; margin-top: 1rem; margin-right: 2rem;"  loop  autoplay></lottie-player> 
                </div>
            }            
  </div>